# Bytecode and Cache
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
fftnet-env/
.venv/

# OS and Editor Folders
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs and Outputs
outputs/
logs/

# Distribution / Packaging
dist/
build/
*.egg-info/
fftnet.egg-info/

# Installer files
*.exe
*.msi

# Dataset (if you want to exclude it from git - consider if you want to track it with LFS instead)
tinyshakespeare.txt
research
PROCESS.md
